    <table align="center">
      <tr>
        <td>
 <a  class="btn btn-success" href="{{ path('impsubory_new') }}">{% trans %}importuj.novy.excel.subor{% endtrans %}</a>       
        </td>
        <td>
    <a  class="btn btn-outline-info" href="{{path('download_file')}}">{{ 'stiahni.vzorovy.excel'|trans|capitalize }}</a>
        </td>
      </tr>
    </table>

