{% extends 'base.html.twig' %}

{% block title %}{% trans %}importuj.z.excel.súboru{% endtrans %}{% endblock %}

{% block body %}
<div class="container">

    <h2>{% trans %}importuj.z.excel.súboru{% endtrans %}</h2>

    {{ include('impsubory/_form.html.twig') }}

    </div>
{% endblock %}
