{% extends 'base.html.twig' %}

{% block title %}{% trans %}o.symfonii{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h3>Aktuálna verzia Aves-Symfónia 5: {{ constant('App\\Utilities\\Konstanty::VERZIA_PRIDAJ') }}</h3>
   <p>Nové funkcionality:</p>
   <ul>
     <li>&#9989; Možnosť <strong>importovať dáta z eBird</strong> zapísané z územia Slovenska. Databáza <a href="http://www.eBird.com">www.eBird.com</a> má aj vydarenú mobilnú aplikáciu. Radi ju používajú aj naši zoológovia. </li>
     <ul>
       <li>Všetky pozorovania <strong>z určitého dňa</strong>. Tento proces prebieha denne automaticky.</li>
       <li>Možnosť načítať jeden záznam ("checklist") z eBird databázy.</li>
       <li>Návod a podrobnosti: <a href="http://e-svet.biz/symfonak/index.php?title=EBird">Fígle pre rozšírenie eBird záznamu pre dtb. Aves Symfónia</a></li>
     </ul>
   </ul>
 
   <p>Plán pre ďalšie verzie</p>
   <ul>
     <li>&#9874; iné živočíšne skupiny</li>
     <li>&#9874; súbežne rozšíriť import cez Excel súbor</li>
     <li>&#9874; ďalšie položky formuláru, buď voliteľne užívateľom alebo ak užívateľ pracuje nie cez mobil ale napríklad cez veľkú obrazovku počítača</li>
     <li>&#9874; synchronizovanie užívateľov, ak sa registruje nový na AVES-e alebo si zmení e-mail a užívateľské meno, tak tie isté zmeny urobiť v tabuľke užívateľov i tu</li>
     <li>&#9874; záznamy aktivít, zapísaných záznamov, poslaných, importovaných z excelu a podobne</li>
   </ul>  
   <p>Nové funkcionality verzie 1.4.7</p>
   <ul>
     <li>&#9989; Možnosť <strong>zapísať dáta do excel súboru a naraz ich načítať do databázy</strong> v rozsahu položiek ako sa tu dajú aj online zapísať.</li>
     <ul>
       <li>Vzorový excel <strong>pridajAves.xls</strong> súbor k dispozícii <a href="{{path('download_file')}}">na stiahnutie</a>. Má viacero záložiek: -druhovník Aves, číselník prístupnosti, číselník charakteristík a príklad.  </li>
       <li>Druhy možnosť zapisovať ako rod druh, slovensky alebo ako id druhu. Pri slovenčine možno písať s diakritikou alebo úplne bez diakritiky (Kacica lyziciarka namiesto Kačica lyžičiarka) </li>
       <li>Charakteristiky možno zapisovať iba jedným spôsobom, podľa stĺpca id_ch v číselníku (M_MV, ZIMOVANIE, B2, D16 atď.)</li>
       <li>Prvý riadok je pre názvy položiek.</li>
       <li>Najprv urobí kontrolu druhého riadka, či sú dáta podľa vzoru. Ak nie sú v poriadku, podá informáciu o každej chybnej bunke.</li>
       <li>Ak sú v poriadku načíta záznamy a zakladá ich. Ak je v niektorom riadku chyba na konci podá súhrnnú presnú správu a každom riadku kde bola chyba a každej bunke s chybou v tom riadku. Tie riadky nezakladá. Na konci podá podrobnú informáciu.</li>
       <li>Možno znovu poslať ten istý excel, už založené záznamy znovu nezakladá (za duplikát považuje, ak už existuje záznam s rovnakými nasledujúcimi položkami: užívateľ, obe súradnice, dátum, druh, počet a charakteristika). Preto je vhodné opraviť chyby v pôvodnom exceli a znovu poslať už opravený súbor.</li>
       <li>Založené riadky majú označenie veľké <strong>I</strong> (importované). Kým nie sú označené veľkým <strong>N</strong> (neexportované), ostávajú tu a do Avesu sa nenačítavajú, aby ste ich mohli skontrolovať. Pre úplnosť veľkým <strong>E</strong> sú označené už okopírované úspešne do Aves-u. </li>

     </ul>
     <li>&#9989; Možnosť <strong>označiť</strong> práve vytváraný záznam aby sa po uložení <strong>hneď nenačítal do Avesu</strong>. (napr. budú menené počty, poznámky..atď. kým pozorovanie trvá). V takom prípade má označenie veľké <strong>Z</strong> ("Z" ako vyžadujúce ešte zmeny).</li>
   </ul>


   <p>Nové funkcionality verzie 1.4.4</p>
   <ul>
     <li>&#9989; Nové tlačidlo <strong>Uložiť a pridať ďalší druh k tomuto pozorovaniu</strong>. Ušetrí čas, ak vieme, že píšeme za sebou viacero druhov z rovnakého miesta. (Preskočí zobrazenie uloženého s nutnosťou zísť dole a "stlačiť nový druh pre danú lokalitu".) Ak už píšeme posledný pozorovaný druh, stlačíme jednoduché tlačidlo "Uložiť".</li>
     <li>&#9989; obohatené dynamické informácie v zelenom poli o lokalitu, dátum a druh.</li> 
     <li>&#9989; predvolená charakteristika podľa aktuálneho mesiaca. M_MV jul, august, sept, okt, nov; ZIMOVANIE dec, jan, feb; M_MV  marec; A0 april, maj, jun </li>
      <li>&#9989; riadenie stránkovania bolo zjednodušené. Doterajšie bolo veľmi široké, v mobiloch nedosiahnuteľné.</li> 
     
   </ul>
 
   <p>Nové funkcionality verzie 1.4.3</p>
   <ul>
     <li>&#9989; <strong>Odosielanie dát do centrálneho AVES-u</strong>. Aves si kopíruje k sebe jednotlivé záznamy. Ak boli vytvorené pridávaním ďalších druhov k rovnakej lokalite, vytvorí z nich ako zvyčajne jeden záznam s mnohými druhmi. Dopočítava k nim lokalitné údaje a ako pozorovateľa dá autora záznamu.</li>
     <li>&#9989; odoslaný záznam sa tu už nedá upravovať, iba použiť ako vzor. Editujte prosím už len v Aves-e.</li> 
     <li>&#9989; počas úpravy existujúceho záznamu AVES počká, kým sa dokončí editácia záznamu.</li>
   </ul>
 

   <p>Nové funkcionality verzie 1.4</p>
   <ul>
     <li>&#9989; <strong>Pridať ďalší druh k pozorovaniu</strong>. Po zápise prvého druhu je možné k tej istej lokalite pridávať ďalšie druhy. Voľba je prístupná v zozname pozorovaní alebo pri zobrazení konkrétneho pozorovania.</li>
     <li>&#9989; Uložené nové záznamy alebo upravené záznamy sú presmerované na zobrazenie záznamu.</li> 
     <li>&#9989; O výsledku ukladania, úpravy alebo mazania je generované jednorázová <strong>informatívna hláška</strong> v hornej časti obrazoky.</li
     <li>&#9989; Ušetrenie hľadania na mape ak sme znova na rovnakej lokalite. Možnosť pridať nový záznam z rovnakej lokality <strong>"Vzor pre ďalší záznam"</strong> </li>
     <li> &#9989; Pozícia na mape je ohraničená zeleným kruhom, klikaním na mapu sa posúva na miesto kliknutia. Ak je kruh červený (zobrazenie záznamu), vtedy len ukazuje kde boli zadané súradnice a nedá sa meniť.</li>
   </ul>

   <p>Nové funkcionality verzie 1.3</p>
   <ul>
     <li>&#9989; poradie v prehľade od najnovšieho záznamu</li>
     <li>&#9989;"bug", bola vymenená z.šírka s dĺžkou!</li>
     <li>&#9989; predvyplnenie dnešného dátum a predvyplnenie počtu 1 </li>
     <li>&#9989; mapa pridať ortofotomozaiku, OpenTopoMap je priehľadná</li>
    </ul>

   <p>Nové funkcionality verzie 1.2</p>
   <ul>
     <li>&#9989; keď klikáme do mapy, mapa  zobrazuje súradnica do položiek formulára, rovno do zoology_longitud a zoology_latitud</li>
    </ul>

   <p>Nové funkcionality verzie 1.1</p>
   <ul>
     <li>&#9989; keď máme https://pridaj.nasesk.info, "s" bezpečné, potom sa opýta či smie priblížiť mapu na lokalitu mobilu/počítača</li>
     <li>&#9989; SK a EN verzia podľa prihlásenia</li>
    </ul>
  </div>
</div>
{% endblock %}
